.RecoverPassword {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

.RecoverPassword .recover-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 2rem;
}

.RecoverPassword .recover-content .container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.RecoverPassword .recover-content .container p {
  margin-bottom: 9rem;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  text-align: center;
  letter-spacing: 0.25px;
}

.RecoverPassword .recover-content .container form {
  display: flex;
  width: 80%;
  flex-direction: column;
}

.RecoverPassword .recover-content .container form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.25px;
}

.RecoverPassword input {
  border: none;
  background: transparent;
  border-bottom: 1px solid black;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  width: 100%;
  padding: 0.7rem;
  padding-left: 0;
}

.RecoverPassword button {
  background: #db511f;
  color: white;
  border: none;
  width: 100%;
  height: 45px;
  border-radius: 5px;
  margin: 0 auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
}
